# Python virtual environment
.venv/
venv/

# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Streamlit
.streamlit/secrets.toml

# IDE/editor files
.vscode/
.idea/

# Temporary files
*.log
*.tmp
app_before_precomputed.py
